/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}

/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{ 
	text-align: center; 
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;			
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: lightgreen;
}

.mazoInicial{
	width: 40%;
}
.menuPrincipal{
	top: 0%;
	width: 100vw;
	height: 100vh;
	background-color: rgba(99, 99, 99, 0.699);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.menuSecundario{
	height: 60%;
	width: 30%;
	background-color: white;
	border-radius: 2em;
	box-shadow: 1px 1px 1px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menuContenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;
	text-align: center;
}
 .menuContenedor img{
	width: 10vw;
	position: absolute;
	top: 20%;
	left: 35%;
 }
#iniciar{
	border: none;
	height: 6vh;
	width: 12vw;
	border-radius: 0.75em;
	color: white;
	background-color: green;
}
.inputsMenu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
.textoMS{
	display: flex;
	justify-content: space-between;	
	width: 100%;
}